@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body {
  font-family: 'Poppins', serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  box-sizing: border-box;
}
